{% extends 'base.html' %}
{% block content %}
    <div class="view-kontrolle-mit-title" style="text-align: center">
        <h1>{{ name }}</h1>
        <p class="version" style="margin-bottom: 1%">Dies sind nur Angaben und verändern nicht Aufgaben!</p>
        <form method="post">
            {% csrf_token %}
            <input id="{{ identifier }}" type="hidden" name="{{ form.identifier.label }}" value="{{ identifier }}" autocomplete="off">
            <div class="row">
                <div class="col-md">
                    <div class="form-floating mb-3">
                        {{ form.schule }}
                        <label for="floatingSchule">Schule / Titel</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating mb-3">
                        {{ form.schulart }}
                        <label for="floatingSchulart">Schulart / Untertitel</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-floating mb-3">
                        {{ form.lehrer }}
                        <label for="floatingLehrer">Lehrer</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating mb-3">
                        {{ form.datum }}
                        <label for="floatingDatum">Datum</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-floating mb-3">
                        {{ form.kurs }}
                        <label for="floatingKurs">Kurs</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating mb-3">
                        {{ form.kontrollen_art }}
                        <label for="floatingArt">Kontrollen-Art</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <button type="submit" class="btn-submit btn btn-success">Erstellen</button>
                </div>
                <div class="col-md">
                    <button type="reset" class="btn-reset btn btn-danger">Eingaben löschen</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}