{% extends 'base.html' %}
{% block content %}
    <div class="wrapper-title">
        <div class="title-home vollkorn-400">
            <p>
            Python
            Kontrollen
            </p>
        </div>
        <div class="subtitle rubik-200">
            <p>
                Mit Python und LaTeX automatisierte Erstellung von Kontrollen zur Leistungsabfrage von Schülern und Schülerinnen
                <br><br>
                Der Code der Kontrollen ist Open-Source auf <a href="https://github.com/HerrjeAlf/Schule" target="_blank"
                   class="link-secondary link-underline-opacity-25">GitHub</a> 
                verfügbar
            </p>
        </div>
    </div>
{% endblock %}
