{% extends 'base.html' %}
{% block title %}Suchen{% endblock %}
{% block content %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const otpForm = document.getElementById('otpForm');
    const otpInputs = Array.from(document.querySelectorAll('.otp'));
    const submitBtn = document.getElementById('submit-btn');
    const submitText = document.getElementById('submit-text');
    const spinner = submitBtn.querySelector('.spinner-border');

    spinner.hidden = true;

    otpInputs.forEach((input, index) => {
        input.addEventListener('keydown', (e) => {
            if (e.key === 'Backspace' && index !== 0 && !input.value) {
                otpInputs[index - 1].focus();
            }
        });

        input.addEventListener('input', ({ data, inputType }) => {
            if (inputType !== "deleteContentBackward") {
                if (data) {
                    const alphanumeric = data.toUpperCase().match(/[0-9A-Z]/);
                    input.value = alphanumeric ? alphanumeric[0] : "";

                    if (input.value && index !== otpInputs.length - 1) {
                        otpInputs[index + 1].focus();
                    }
                }
            }
        })
    });

    document.body.addEventListener('paste', (e) => {
        if (document.activeElement.classList.contains('otp')) {
            let paste = (e.clipboardData || window.clipboardData).getData('text');
            paste = paste.toUpperCase().replace(/[^0-9A-Z-]/g, '');

            if (paste.length === 9 && paste[4] === '-') {
                otpInputs.forEach((input, i) => {
                    input.value = paste[i >= 4 ? i + 1 : i];
                });
                otpInputs.forEach(input => input.readOnly = true);
                spinner.hidden = false;
                document.activeElement.blur();
                submitText.textContent = ''
                setTimeout(() => {
                    document.activeElement.blur();
                    otpForm.submit();
                    otpInputs.forEach(input => {
                        input.readOnly = false;
                        input.value = '';
                    });
                    spinner.hidden = true;
                }, 1000);
            }
        }
    });

    otpForm.addEventListener('submit', function(e) {
        e.preventDefault();
        otpInputs.forEach(input => input.readOnly = true);
        spinner.hidden = false;
        submitText.textContent = ''
        setTimeout(() => {
            document.activeElement.blur();
            otpForm.submit();
            otpInputs.forEach(input => {
                input.readOnly = false;
                input.value = '';
            });
            spinner.hidden = true;
        }, 1000);
    });
});
</script>
<div class="kontrolle-suchen">
    <div class="title-suchen vollkorn-400">
        Kontrolle suchen
    </div>
    <form method="post" id="otpForm" class="otp-wrapper">
        {% csrf_token %}
        <div class="otp-group ibm-plex-mono-400" id="otpGroup">
            <input id="id_uuid_0" name="uuid_0" class="otp form-control form-control-lg me-3" type="text" maxlength="1" autocomplete="off" required autofocus/>
            <input id="id_uuid_1" name="uuid_1" class="otp form-control form-control-lg me-3" type="text" maxlength="1" autocomplete="off" required/>
            <input id="id_uuid_2" name="uuid_2" class="otp form-control form-control-lg me-3" type="text" maxlength="1" autocomplete="off" required/>
            <input id="id_uuid_3" name="uuid_3" class="otp form-control form-control-lg me-3" type="text" maxlength="1" autocomplete="off" required/>
            <span style="font-size: 5vw; grid-column: span 4">&ndash;</span>
            <input id="id_uuid_4" name="uuid_4" class="otp form-control form-control-lg ms-3" type="text" maxlength="1" autocomplete="off" required/>
            <input id="id_uuid_5" name="uuid_5" class="otp form-control form-control-lg ms-3" type="text" maxlength="1" autocomplete="off" required/>
            <input id="id_uuid_6" name="uuid_6" class="otp form-control form-control-lg ms-3" type="text" maxlength="1" autocomplete="off" required/>
            <input id="id_uuid_7" name="uuid_7" class="otp form-control form-control-lg ms-3" type="text" maxlength="1" autocomplete="off" required/>
        </div>
        <button type="submit" id="submit-btn" class="btn btn-success">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span id="submit-text">Kontrolle suchen</span>
        </button>
    </form>
</div>
{% endblock %}