{% extends 'base.html' %}
{% block title %}
    Kontrolle finden
{% endblock %}
{% block content %}
    <div class="wrapper-title-finden">
        <div class="title-finden playfair-display-400">
            <p>
            Kontrolle finden
            </p>
        </div>
        <div class="subtitle-finden">
            <p hidden="hidden">Einfach die ID der Kontrolle unten eingeben und dann auf "Kontrolle finden" gehen!</p>
        </div>
    </div>
    <form method="post" class="otp-wrapper">
        {% csrf_token %}
        <div id="otp-container" class="ibm-plex-sans-400">
            {% for feld in form %}
                <input type="text" name="{{ feld.name }}" id="{{ feld.id_for_label }}" class="otp-field"
                       onkeyup="focusNext(this)" autocomplete="off" required="required" autofocus>
                {% if forloop.counter == 4 %}
                    <span class="otp-field otp-minus">-</span>
                {% endif %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary otp-submit">Kontrolle finden</button>
    </form>
{% endblock %}