{% extends 'base.html' %}
{% load clean_identifier %}
{% block title %}Kontrollen{% endblock %}
{% block content %}
    <div class="wrapper-kontrollen">
        <div class="version">
            <strong>Version vom:</strong> 30. Mai 2024, 08:45
        </div>
        <div class="row row-kontrollen" style="margin-left: 0">
            {% for kontrolle in Kontrollen %}
                <ul class="kontrolle col list-group">
                    <li class="list-group-item kontrolle-li p-3 justify-content-between align-items-center">
                        <div class="text">
                            {{ kontrolle.name }}
                        <div class="subtitle-kontrolle">
                            {{ kontrolle.identifier|clean_identifier }}
                        </div>
                            <br>
                            {% if kontrolle.beispiel %}
                                <a type="button" class="beispiel btn btn-outline-secondary" href="/suchen/Beispiel {{ kontrolle.identifier }}" target="_blank">Beispiel</a>
                            {% else %}
                                <a type="button" class="beispiel btn btn-outline-secondary disabled" href="/suchen/Beispiel {{ kontrolle.identifier }}" target="_blank">Beispiel</a>
                            {% endif %}
                        </div>
                        <div class="btn-group" role="group">
                            <a type="button" class="btn btn-outline-secondary" href="probe/{{ kontrolle.identifier }}" target="_self">Probe</a>
                            <a type="button" class="btn btn-outline-success" href="erstellen/{{ kontrolle.identifier }}" target="_self">Erstellen</a>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
